<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - User Details</title>
  <link rel="stylesheet" href="../../styles/style.css">
</head>
<body>
  <img id="headerimg" src="../../images/logo.png" height="100" width="150">
  <h1>P, R, S: Showdown</h1>
  <a class="headerlink" href ="/about"><button class="headerlink">About</button></a>
  <a class="headerlink" href ="/stats"><button class="headerlink">View Stats</button></a>
  <a class="headerlink" href ="/rules"><button class="headerlink">View Rules</button></a>
  <a class="headerlink" href ="/"><button class="headerlink">Logout</button></a>

  <br>

  <div id="enter_name">
    <h2>Account Details - <%if (user==null){%> Create Account <%} else{%> <%=user.name%> <%}%></h2>
    <h4><%=feedback%></h4>
    <%if (user==null){%><form action="/users" method="post"><%}%>
    <%if (user!=null){%> <form action="/users/<%=user.name%>?_method=PUT" method="post"><%}%>
      Username:<input type="text" name="username" value = "<%if (user!=null){%><%=user.name%><%} else {%><%}%>"><br>
      Password:<input type="text" name="password" value = "<%if (user!=null){%><%=user.password%><%}%>"><br>
      First Name:<input type="text" name="firstname" value = "<%if (user!=null){%><%=user.firstname%><%}%>"><br>
      Last Name:<input type="text" name="lastname" value = "<%if (user!=null){%><%=user.lastname%><%}%>"><br>
      <%if (user==null){%><button type="submit" value="Submit">Create Account</button><%}%>
      <%if (user!=null){%><button type="submit" value="Submit">Update Account</button><%}%>
    </form>
    <%if (user!=null){%>
      <p>
        Account created: <%=user.datecreated.split(' G')[0]%>
        <br>
        Account updated: <%=user.dateupdated.split(' G')[0]%>
        <br>
        <br>
        You've played <span class="variable"><%=user.gamesplayed%></span> games
        <br>
        <br>
        You throw paper <span class="variable"><%=Math.round(user.paper/user.gamesplayed*100)%>%</span> of the time
        <br>
        You throw rock <span class="variable"><%=Math.round(user.rock/user.gamesplayed*100)%>%</span> of the time
        <br>
        You throw scissors <span class="variable"><%=Math.round(user.scissors/user.gamesplayed*100)%>%</span> of the time
        <br>
        <br>
        You win <span class="variable"><%=Math.round(user.gameswon/user.gamesplayed*100)%>%</span> of the time
        <br>
        You tie <span class="variable"><%=100-Math.round((parseFloat(user.gameswon)+parseFloat(user.gameslost))/user.gamesplayed*100)%>%</span> of the time
        <br>
        You lose <span class="variable"><%=Math.round(user.gameslost/user.gamesplayed*100)%>%</span> of the time
      </p>
      <form action="/users/<%=user.name%>?_method=DELETE" method="post">
        <button type="submit" value="Delete User">Delete Account</button>
      </form>
    <%}%>
  </div>
  <footer>
    <% include global/footer%>
  </footer>
 </body>
</html>
